Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@pastapeter 
gcc-mirror
/
gcc
Mirror
mirrored from git://gcc.gnu.org/git/gcc.git
318
4.6k
2.5k
Code
Pull requests
25
Actions
Projects
Wiki
Security
Insights
gcc/.gitignore
@simark
simark Sync .gitignore with binutils-gdb
…
Latest commit cf44255 on 3 Dec 2020
 History
 3 contributors
@marxin@simark@jicama
68 lines (54 sloc)  566 Bytes
  
*.diff
*.patch
*.orig
*.rej

*~
.#*
*#

*.flt
*.gmo
*.info
*.la
*.lo
*.o
*.pyc
*.tmp
*.a

.deps
.libs

autom4te.cache
config.cache
config.h
config.intl
config.log
config.status
libtool
POTFILES
*-POTFILES

TAGS
TAGS.sub

.local.vimrc
.lvimrc

.clang-format
.clang-tidy
.clangd
.cache
compile_commands.json

.gdbinit
.gdb_history

perf.data
perf.data.old

# ignore core files, but not java/net/protocol/core/
core
!core/

lost+found

# ignore ./contrib/gcc_update output
LAST_UPDATED
REVISION

stamp-*
*.stamp

# ignore in-tree prerequisites
/mpfr*
/mpc*
/gmp*
/isl*
© 2021 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About

# Created by https://www.toptal.com/developers/gitignore/api/xcode
# Edit at https://www.toptal.com/developers/gitignore?templates=xcode

### Xcode ###
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Gcc Patch
/*.gcno

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

# End of https://www.toptal.com/developers/gitignore/api/xcode
